extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Steve Park

        p.lead.text-light
          | Full Stack Web Developer.

        .portfolio-bio
          p
            | Hello, My name is Steve, and I'm a Full-stack Web Developer proficient in HTML, CSS, JavaScript, and MEAN stacks.
            | I became an immigrant family after finishing mandatory military service for South Korea. I'm consistently trying to take additional responsibilities and learn new things.
            | Please take a moment to browse my work, skills, and professional experience. It’s my firm belief that a good challenge offers an opportunity to develop and improve, which is why I make a point of seeking out new ones in the professional realm as well as in my personal life. 
            | Contact me directly to learn more. Thank you.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Sass
          li JavaScript
          li MongoDB
          li Express
          li Angular
          li Node.js
          li Python
          li Django
          li Jquery
        h6 Contact Info

        ul
          li 818-669-2730
          li stevepbong@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/stevespark' target='blank') LinkedIn
        a.button.expanded(href='https://github.com/Stevesbong' target='blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  